.login {
  composes: o-container from 'blaze/dist/objects.containers.css';
  composes: o-container--medium from 'blaze/dist/objects.containers.css';
}

.centerblock {
  composes: u-center-block from 'blaze/dist/utilities.alignment.css';
}

.centerblock_content {
  composes: u-center-block__content from 'blaze/dist/utilities.alignment.css';
  composes: u-center-block__content--horizontal from
    'blaze/dist/utilities.alignment.css';
  width: 400px;
}
