.main {
  composes: c-text from 'blaze/dist/components.typography.min.css';
}

.loading {
  background-color: #6ebaf7 !important;
}

.center-block {
  composes: u-center-block from 'blaze/dist/utilities.alignment.min.css';
}

.center-horizontal {
  composes: u-center-block__content from
    'blaze/dist/utilities.alignment.min.css';
  composes: u-center-block__content--horizontal from
    'blaze/dist/utilities.alignment.min.css';
  width: 20rem;
}

@media screen and (max-width: 400px) {
  .center-horizontal {
    width: 100%;
  }
}
