.submitbutton {
  composes: c-button from 'blaze/dist/components.buttons.min.css';
  composes: c-button--block from 'blaze/dist/components.buttons.min.css';
  composes: c-button--primary from 'blaze/dist/components.buttons.min.css';
}

.link {
  composes: c-link from 'blaze/dist/components.links.min.css';
}

.captcha-field {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.content-block {
  margin: 0 auto;
  width: 20rem;
}

@media screen and (max-width: 400px) {
  .content-block {
    width: 100%;
  }
}
