.formelement {
  composes: c-form-element from 'blaze/dist/components.inputs.css';
  max-width: 300px;
}

.label {
  composes: c-label from 'blaze/dist/components.inputs.css';
}

.inputtext {
  composes: c-field from 'blaze/dist/components.inputs.css';
}

.inputtext--success {
  composes: inputtext;
  composes: c-field--success from 'blaze/dist/components.inputs.css';
}

.inputtext--error {
  composes: inputtext;
  composes: c-field--error from 'blaze/dist/components.inputs.css';
}
